{% extends "base_light.html" %}
{% block title %} 500 {% endblock %}
{% block tabs %} {% endblock %}
{% block content %}
<h2 id="poke">
iMyp - Invade my privacy! - Alpha
</h2>
<h3>
If you are a person like <a href="http://www.jacobian.org">Jacob Kaplan-Moss</a> and got nothing to do! Let internet user invade into your privacy. Add feeds and let get invaded!
</h3>
<h2> How it works? </h2>
<ul>
	<li>
	Start: Login with your Google Account(Sorry but we have to save your email in our system).
	</li>
	<li>
	Add Feeds: Provide your activity rss feeds from flickr, last.fm, del.icio.us, blog or any other publically visible feeds(we don't really wanna invade into private feeds).
	</li>
	<li>
	No social element: Send your public url among friends by email, skype or whatever?
	</li>
</ul>
<h2> Love Privacy? </h2>
<div> Hit Alt + F4</div>

By the way this page appears because it was 500
{% endblock %}