<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN">
<html lang="en">
<head>
    <title>Invade my privacy - </title>
</head>

{% block js %}

{% endblock %}
<body>
   
    {% block tabs %}
	<h3> {% endblock %}
    {% block content %} {% endblock %}
	{% block footer %} 
	<div class="small" id="footer">
	2008 Invade my privacy! huh? - iapain--nospam--gmail.com  - <a href="/~iapain/" title="Invade into my privacy ;)">Privacy Policy</a> - <a href="javascript:alert('Sorry! no donuts for you - Mr. Orkut said! Perhaps we dont have any T and C');">Terms and condition</a> - <a rel="nofollow" href="http://www.netatty.com/privacy/privacy.html">Privacy Law</a>
	<div>
	<img border="0" alt="Powered by Google App Engine" src="http://code.google.com/appengine/images/appengine-noborder-120x30.gif"/>
	</div>
	<div>If I had a <a href="http://www.djangoproject.com/"><img height="25" width="65" align="top" alt="django" src="http://media.jacobian.org/new/im/django.gif"/></a>, I'd <a href="http://www.djangoproject.com/"><img height="25" width="65" align="top" alt="django" src="http://media.jacobian.org/new/im/django.gif"/></a> in the morning </p>
	</div>
	</div>
	{% endblock %}
</body>
{% block ljs %}
{% endblock %}
</html>
