{% extends "base.html" %}
{% block title %} Home {% endblock %}
{% block tabs %} {% endblock %}
{% block content %}
<h2 id="poke">
iMyp - Invade my privacy! - {{ stage }}
</h2>
<div>
In simple words this application pipes your existing activity around internet into your LifeFeed. Pipe your feeds in and get your lifefeed. If you are a person like <a href="http://www.jacobian.org">Jacob Kaplan-Moss</a> and got nothing! Let internet user invade into your privacy. Add feeds and let get invaded!
</div>
<h3> How it works? </h3>
<ul>
	<li>
	Start: Login with your Google Account(Sorry but we have to save your email in our system).
	</li>
	<li>
	Add Feeds: Provide your activity feeds from <a href="http://flickr.com/" rel="nofollow">flickr</a>, <a href="http://last.fm/" rel="nofollow">last.fm</a>, <a href="http://del.icio.us/" rel="nofollow">del.icio.us</a>, blog or any other publically visible feeds(we don't really wanna invade into private feeds).
	</li>
	<li>
	No social element: Send your public url among friends by email, skype or whatever?
	</li>
</ul>
<h3> Love Privacy? </h3>
<div> Hit Alt + F4</div>
<h3> Love QR Codes?</h3>
<div style="text-align:center"><a href="/static/images/qrcode.png"><img src="/static/images/qrcode.png" alt="qrcode-link" border="0" /></a></div>
{% endblock %}