body {
	color:#1F1409;
	font-family:"Lucida Sans Unicode",Verdana,"Lucida Grande",sans-serif;
	font-size:15px;
	font-size-adjust:none;
	font-style:normal;
	font-variant:normal;
	font-weight:normal;
	line-height:1.5em;
}
img {
	border: 0px;
}
.small {
	color:#858585;
	font-size:12px;
	font-weight:normal;
}
.dash-bar  a{
	background: #0063DC none repeat scroll 0% 50%;
	color:#FFFFFF;
}
.gbar {
	width: 100%;
	padding: 0pt 0pt 4px;
	font-size: 84%;
}
.float-left {
	margin-right:8px;
	width:572px;
	display:inline;
	float:left;
	border-right:1px solid #E6E6E6;
}
.float-right {
	margin-left:8px;
	width:376px;
	display:inline;
	float:left;
	border:3px solid #E6E6E6;
}
.black-link  a{
	color: #000000;
	font-weight:200;
}
#heading {
	font-size:17px;
	font-weight:200;
}
#small-link {
	color:green;
	font-size:12px;
	font-weight:normal;
}
#footer {
	text-align: center;
	display:inline;
	float:left;
	width: 100%;
}

#poke {
	background: #0063DC none repeat scroll 0% 50%;
	color:#FFFFFF;
}

#cooked-reciepe div {
border-top:1px solid #E6E6E6;
}
